body {
    background-image: url("Background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.keys {
    width: 100%;
    min-height: 100px;
    margin: 400px 100px 100px 200px;
}
span {
    color: #e9c13f;
    font-weight: normal;
}
.key {
    border: 3px solid black;
    padding: 5px 15px;
    margin-left: 50px;
    transition: all 1s;
    text-align: center;
    float: left;
    color: white;
    font-weight: bold;
}
.playing {
    border-color: #e9c13f;
    transform: scale(1.2);
}